body {
  margin: 0 auto;
  max-width: 1200px;
}

.mediumHeading {
  padding: 10px 50px;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  background-color: #ececec;
  /* Add a light gray background color */
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

/* three columns layout box */

.column {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
}

@media (min-width: 48em) {
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}

/* Button coloring */

.seeRecipe {
  background: #006233;
  background-image: -webkit-linear-gradient(top, #006233, #006233);
  background-image: -moz-linear-gradient(top, #006233, #006233);
  background-image: -ms-linear-gradient(top, #006233, #006233);
  background-image: -o-linear-gradient(top, #006233, #006233);
  background-image: linear-gradient(to bottom, #006233, #006233);
  -webkit-border-radius: 36;
  -moz-border-radius: 36;
  border-radius: 36px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 17px 9px 16px;
  text-decoration: none;
}

.seeRecipe:hover {
  background: #3c3f41;
  background-image: -webkit-linear-gradient(top, hwb(200 21% 74%), #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.recipeImage {
  width: 90%;
}

/* hero container  */

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 2;
  text-align: center;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  font-size: 20px;
}

.flexOne {
  flex: 1;
}

/* Navigation */
.topnav {
  background-color: #f4f4f9;
  height: 70px;
  width: 100%;
}

.navcontainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.logo-links-container {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

header img {
  padding: 0px;
  padding-right: 20px;
  padding-top: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00623340;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #006233;
  color: white;
}

.topnav .active:hover {
  background-color: #03954f;
}
/* End of navigation */

/* footer */

footer {
  background-color: #f4f4f9;
  padding: 30px;
}

footer .columns {
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

footer .column {
  padding-bottom: 0;
}

footer .column:first-of-type {
  text-align: left;
}

footer form div {
  display: flex;
}

footer input[type="email"] {
  width: 200px;
}

/* newsletter button */
footer .newsLetterbtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.footer-favicons a.fa {
  float: right;
  padding: 6px 15px 6px 15px;
  font-size: 25px;
}

.footer-favicons a:hover {
  color: darkgray;
}

/* end of footer */

#page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

main {
  padding-bottom: 80px;
  padding-top: 80px;
}

footer .columns,
.hero-container,
main,
.navcontainer {
  margin: 0 auto;
  max-width: 1200px;
}

.mediumHeading {
  padding: 10px 50px;
}
