img {

    /* float: right; */
    margin-left: 10px;
}

.mediumHeading {
  padding: 10px 50px;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  background-color: #ececec;
  /* Add a light gray background color */
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

body {
    background-color: #ffffff;
/* three columns layout box */

.column {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
}

@media (min-width: 48em) {
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}

}


/* hero container  */

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 2;
  text-align: center;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  font-size: 20px;
}

.hero-image {
  flex: 1;
}
